:root {
  --color1: #282828;
  --color2: #fbf1c7;
  --color3: #d3869b;
  --color4: #8ec07c;
  --color5: #fb4934;
  --color6: #458588;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color1);
  color: var(--color2);
}

.hidden {
  display: none;
}
